<div>
    <h3><i class="fas fa-circle-info"></i> About IT Demand Management System</h3>
    <p>The IT Demand Management System is a web-based application that supports the Linde Gases IT Demand Management Process.</p>
    <p>Application Version: @GetType().Assembly.GetName().Version</p>
    <p>For any technical issues please contact <a href="http://adlookup.le.grp/#/user?attr=samaccountname&q=usartd1" target="_blank" rel="noopener noreferrer">Richard Dillon</a>.</p>
</div>
