<div>
    <div id='confirm-dialog' class="modal" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                </div>
                <div class="modal-body">
                    <p id="confirmPrompt"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnConfirmYes">Yes</button>
                    <button type="button" class="btn btn-light" id="btnConfirmNo">No</button>
                </div>
            </div>
        </div>
    </div>
</div>