<div>
    <div id='message-dialog' class="modal" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="messageDialogContent"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnMessageOk">Ok</button>
            </div>
            </div>
        </div>
    </div>
</div>