<div class="alert alert-sm alert-info" id="saveInstructions">
    <p>
        <i class="fas fa-floppy-disk" ></i> Demand Request Save Options
    </p>
    <p class="mb-0">
        <strong>Save: </strong> Save the information in this form.
    </p>
    <p class="mb-0">
        <strong>Save &amp; Close : </strong> Save the information in this form and return to the previous page.
    </p>
    <p class="mb-0">
        <strong>Save &amp; Submit: </strong> Save the information in this form and submit it to the IT Project Management Office (PMO) for review. Save &amp; Submit button will only be enabled when all required fields are filled in.
    </p>
</div>