@model DemandRequestViewModel

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-home" style="display: inline-block; margin-right: 5px;"></i> Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Demand Request</li>
        </ol>
    </nav>

    <partial name="DemandRequestForm" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/demand-form.js"></script>
        <script src="~/js/demand-attachment.js"></script>
        <script src="~/js/plug-ins/jquery.dirtyforms.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/demand.min.js" asp-append-version="true"></script>
        <script src="~/js/plug-ins/jquery.dirtyforms.min.js"></script>
    </environment>
}