html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
   margin-bottom: 40px !important;
}

/* Bootstrap Mods */
.footer {
   line-height: 40px !important;
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: #fafafa;
}

.breadcrumb {
   background-color: #f0f0f0;
   border-radius: 4px;
   padding: 8px 15px;
}

.alert-sm {
   /*--bs-alert-padding-x: 0.5 rem;
   --bs-alert-padding-y: 0.9 rem;*/
   padding: 8px 8px;
}

.info-popover {
   --bs-popover-max-width: 600px;
}

.bg-linde-blue {
   background-color: #005591;
}

.required-asterisk:after {
   content: " *";
   color: #f00;
}

.cursor-pointer {
   cursor: pointer
}

.cursor-help {
   cursor: help
}

.help-icon {
   display: inline-block;
   margin-left: 0.75em;
}

.bg-tooltip-primary {
   --bs-tooltip-bg: var(--bs-primary);
}

.input-group-overlay {
   font-weight: normal;
   line-height: 1;
   color: #555;
   width: 0%;
   position: relative;
   left: -20px;
   top: 11px;
   z-index: 100;
}

.input-group-sm .input-group-overlay {
   top: 8px;
}

/* Coloring on Status Flags */
.status-approved {
   color: #1c813f; 
}

.status-rejected {
   color: #ff0000;
}

.status-waiting-approval {
   color: #811c5e; 
}

.status-in-progress {
   color: #1c2b81; 
}

.status-not-started {
   color: #81711c; 
}

.project-content {
   display: flex;
   flex-direction: row;
}

.project-sidebar {
   flex: 15%;
   padding: 8px;
   height: 100vh;
   background-color: #D2E1EB;
}

.project-sidebar a {
   text-decoration: none;
}

.project-right {
   flex: 85%;
   padding: 8px;
   background-color: white;
   height: 100vh;
}